{% extends 'model/model_base.html' %}
{% block content %}

    <div class="b">
        <div class="array">
                {% for cute in cute_posts %}
                        <div class="card">
                            <div class="box-1">
                                <img src="{{ cute.image1.url  }}" width="200" height="250">
                            </div>
                            <div class="box-2">
                                <p class="c">{{ cute.title }}</p>
                                <p class="d">{{ user.username }}</p>
                            </div>
                        </div>
                {% endfor %}
            </div>
    </div>

<div class="paginator">
    {% if cute_posts.has_previous %}
      <a href="?page={{ cute_posts.previous_page_number }}">◀</a>
    {% else %}
      <span>◀</span>
  {% endif %}
    {% if cute_posts.has_next %}
      <a href="?page={{ cute_posts.next_page_number }}">▶</a>
    {% else %}
      <span>▶</span>
    {% endif %}
</div>


{% endblock content %}